@import "tailwindcss";

.text-Free {
    @apply text-emerald-600;
}
.text-Almost {
    @apply text-yellow-600;
}
.text-Loading {
    @apply text-red-600;
}
.text-Blocked {
    @apply text-stone-600;
}

.free {
    @apply bg-emerald-600 text-white;
}

.free-not-active {
    @apply bg-emerald-600/50 text-white;
}

.start {
    @apply bg-yellow-300 text-stone-900;
}

.start-not-active {
    @apply bg-yellow-500/50 text-stone-100;
}

.half {
    @apply bg-orange-400 text-white;
}

.half-not-active {
    @apply bg-orange-400/50 text-white;
}

.loaded {
    @apply bg-red-600 text-white;
}

.loaded-not-active {
    @apply bg-red-600/50 text-white;
}

.blocked {
    @apply bg-stone-600 text-white;
}

.blocked-not-active {
    @apply bg-stone-600/50 text-white;
}

#drawer-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 999;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.3);
    transition: opacity 0.3s ease-in;
    pointer-events: none;
}

#drawer-overlay.open {
    opacity: 1;
    pointer-events: auto;
}

#drawer-content {
    background-color: #3d3d3d;
    width: 75vw;
    height: 100vh;

    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    transform: translateX(200%);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#drawer-content #drawer-header {
    margin: 0 10px;
    padding: 10px;
}

#drawer-content #drawer-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
}

#drawer-content.open {
    transform: translateX(0);
}
